.coursecontent
{
    margin:50px 0;
    display: flex;
    height: 500px;
}
.leftside
{
    width:50%;
    background-color: #ffb406a2;
    height: 100%;
    padding: 6em;
    margin: auto;
}
.leftside h1{
    margin:40px auto;
    font-size: 35px;
    color:white;
}
.leftside span
{
    color:black;
    background-color: transparent;
}
.leftside p{
   margin-bottom: 65px;
}
.leftside button{
    background-color: black !important;
    color: white !important;
    font-weight: 800 !important;
    padding: 15px 45px !important;
}
.leftside button:hover
{
    box-shadow: 0 0 5px black !important;
    cursor: pointer;
}

.rightside
{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap:25px;
    background-image: url('../Images2/white.jpg');
    background-size: cover;
    width:50%
}
.input {
    width:70% !important;
    height: 45px !important;
    margin: 8px auto !important;
    outline: none !important;
}
.button
{
    width:70% !important;
    margin: 10px auto !important;
    height: 45px !important;
    background-color: #ffb406a2 !important;
    color:white !important;
    font-weight: 900 !important;
    font-size: 18px !important;
}
.button:hover
{
    box-shadow: 0 0 5px #ffb406a2 !important;
    cursor: pointer;
}
